[Unit]
Description=Run startup script after UI loads
After=graphical.target

[Service]
User=pi
WorkingDirectory=/home/pi/startup/internals
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
Type=oneshot
ExecStart=/home/pi/startup/internals/startup.sh
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
